h1{
  color: red;
}

h1, .pie{
  text-align: center;
}

.cuerpo:after {
  content: "";
  display: block;
  font-size: 20px;
  text-align: justify;
  height: 100px;
}

.pie{
  background-color: greenyellow;
  font-size: 20px;

}
